.bg {
    background: linear-gradient(180deg, #298360 50%, #ffffff 50%);
}

.bg .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg .container .card {
    min-width: 32rem;
    margin: auto;
}

.bg .container .card .card-header {
    background-color: #298360;
}

.bg .container .card form button {
    background-color: rgba(6, 6, 102, 0.836);
}