.bg {
    background: linear-gradient(180deg, #298360 50%, #ffffff 50%);
}

.card {
    max-width: 50rem;
    margin: auto;
}

.card form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.card .card-body form .mb-3 {
    margin-bottom: 3rem !important;
}

.card .card-body form #id_password1 {
    margin-bottom: 4rem;
}

.card form button {
    background-color: rgba(6, 6, 102, 0.836);
}