<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
    {% bootstrap_css %}
    {% endblock styles %}

    <title>
        {% block title %}
        Employee Manager
        {% endblock title %}
    </title>

</head>

<body>
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% bootstrap_javascript %}
    {% endblock scripts %}
</body>

</html>