{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/departments.css' %}">
{% endblock styles %}

{% block title %}
Departments
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card min-vh-100">
        <div class="card-header text-light">Departments
        </div>

        <div class="card-body">
            <div class="choices d-flex mb-4">
                <button type="button" class="btn me-3 btn-warning d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#add"><i class='bx bx-plus fs-4'></i>Add</button>
                <a href="{% url 'departments' %}" class="text-decoration-none text-light">
                    <button type="button" class="btn me-3 btn-dark d-flex align-items-center"><i
                            class='bx bx-refresh fs-4'></i>Refresh</button>
                </a>
            </div>

            <!-- Add Initial Modal -->
            <div class="modal fade" id="add" tabindex="-1" aria-labelledby="add" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Initial</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'departments' %}" method="post">
                                {% csrf_token %}
                                {% bootstrap_form add_department_form %}
                                {% buttons %}
                                <button type="submit" class="btn btn-success float-end">
                                    Save
                                </button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="show d-flex align-items-center mb-3">
                <span>Show</span>
                <input type="number" class="form-control w-25 mx-2 shadow-none" name="pages" id="pages">
                <span>entries</span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.NO.</th>
                        <th scope="col"><span><i class='bx bx-up-arrow-alt'></i></span> <i
                                class='bx bx-down-arrow-alt'></i>Name
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="pt-4">
                    {% for department in departments %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{department.name}}</td>
                        <td class="d-flex">
                            <a href="{% url 'update_department' department.id %}" class="text-decoration-none text-light">
                                <button type="button" class="btn btn-sm btn-primary me-1">
                                    <i class='bx bxs-edit'></i>
                                </button>
                            </a>

                            <a href="{% url 'delete_department' department.id %}" class="text-decoration-none text-light">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <i class='bx bxs-trash'></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <em><strong>0 employees found</strong></em>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <p>
                    Showing 1 to 3 entries
                </p>
                <nav>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock content %}