{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/employees.css' %}">
{% endblock styles %}


{% block title %}
Employees
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header text-light">
            Filter
        </div>
        <div class="card-body">
            <form action="{% url 'employees' %}" method="get">
                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <select class="form-select" name="department">
                        <option selected></option>
                        {% for department in departments %}
                        <option value="{{department.name}}">{{department.name}}</option>
                        {% empty %}
                        <option selected disabled>No departments found</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <div class="d-flex">
                        <input type="number" name="from_salary" value="0" class="form-control" id="salary"
                            placeholder="from" step="0.001">
                        <input type="number" name="to_salary" value="0" class="form-control" id="salary"
                            placeholder="to" step="0.001">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="doj" class="form-label">DOJ</label>
                    <div class="d-flex">
                        <input type="date" name="from_doj" class="form-control" id="doj" placeholder="from">
                        <input type="date" name="to_doj" class="form-control" id="doj" placeholder="to">
                    </div>
                </div>

                <button type="submit" class="btn btn-success w-100">
                    <i class='bx bx-filter-alt'></i>Filter
                </button>
            </form>
        </div>
    </div>

    <div class="card min-vh-100">
        <div class="card-header text-light" style="background-color: rgba(6, 6, 102, 0.836) !important;">Departments
        </div>

        <div class="card-body">
            <div class="choices d-flex mb-4">
                <button type="button" class="btn me-3 btn-warning d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#add"><i class='bx bx-plus fs-4'></i>Add</button>
                <a href="{% url 'employees' %}" class="text-decoration-none text-light">
                    <button type="button" class="btn me-3 btn-dark d-flex align-items-center"><i
                            class='bx bx-refresh fs-4'></i>Refresh</button>
                </a>
            </div>

            <!-- Add Initial Modal -->
            <div class="modal fade" id="add" tabindex="-1" aria-labelledby="add" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'employees' %}" method="post">
                                {% csrf_token %}
                                {% bootstrap_form add_employee_form %}
                                {% buttons %}
                                <button type="submit" class="btn btn-success float-end">
                                    Save
                                </button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="show d-flex mb-3 justify-content-between">
                <div class="d-flex align-items-center">
                    <span>Show</span>
                    <input type="number" class="form-control w-25 mx-2 shadow-none" name="pages" id="pages">
                    <span>entries</span>
                </div>
            </div>

            {% if employees %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.NO.</th>
                        <th scope="col"><span><i class='bx bx-up-arrow-alt'></i></span> <i
                                class='bx bx-down-arrow-alt'></i>Name
                        </th>
                        <th scope="col"><span><i class='bx bx-up-arrow-alt'></i></span> <i
                                class='bx bx-down-arrow-alt'></i>Department
                        </th>
                        <th scope="col"><span><i class='bx bx-up-arrow-alt'></i></span> <i
                                class='bx bx-down-arrow-alt'></i>Salary
                        </th>
                        <th scope="col"><span><i class='bx bx-up-arrow-alt'></i></span> <i
                                class='bx bx-down-arrow-alt'></i>DOJ
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="pt-4">
                    {% for employee in employees %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{employee.name}}</td>
                        <td>{{employee.department.name}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.doj}}</td>
                        <td class="d-flex">
                            <a href="{% url 'update_employee' employee.id %}" class="text-decoration-none text-light">
                                <button type="button" class="btn btn-sm btn-primary me-1">
                                    <i class='bx bxs-edit'></i>
                                </button>
                            </a>

                            <a href="{% url 'delete_employee' employee.id %}" class="text-decoration-none text-light">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <i class='bx bxs-trash'></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="float-end">
                <nav>
                    <ul class="pagination">
                        <li class="page-item {% if not employees.has_previous %} disabled {% endif %}">
                            {% if employees.has_previous %}
                            <a href="?page={{employees.previous_page_number}}" class="page-link" tabindex="-1"
                                aria-disabled="true">Previous</a>
                            {% else %}
                            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                            {% endif %}
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link">{{employees.number}}</a>
                        </li>
                        
                        <li class="page-item {% if not employees.has_next %} disabled {% endif %}">
                            {% if employees.has_next %}
                            <a href="?page={{employees.next_page_number}}" class="page-link">Next</a>
                            {% else %}
                            <a class="page-link">Next</a>
                            {% endif %}
                        </li>
                        
                    </ul>
                </nav>
            </div>
            {% else %}
            <div class="text-center fs-3 mt-4">
                <strong>0 employees found</strong>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}