<nav class="navbar navbar-light mb-3" style="background-color: rgba(6, 6, 102, 0.836);">
    <div class="container-fluid">
        <a class="navbar-brand text-light">Employee Manager</a>
        <div class="d-flex">
            <div class="ms-4">
                <a href="{% url 'home' %}" class="text-decoration-none text-light">Initials</a>
            </div>
            <div class="ms-4">
                <a href="{% url 'departments' %}" class="text-decoration-none text-light">Departments</a>
            </div>
            <div class="ms-4">
                <a href="{% url 'employees' %}" class="text-decoration-none text-light">Employees</a>
            </div>
        </div>
    </div>
</nav>