{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %}
Update Department
{% endblock title %}

{% block content %}
<div class="bg min-vh-100">
    <div class="container pt-5">
        <div class="card rounded-0 mx-auto" style="max-width: 50rem;">
            <div class="card-body">

                <div class="fs-4 text-primary pb-4">
                    Update Department
                </div>

                <form action="{% url 'update_department' department.id %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form update_department_form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-success float-end">
                        Update
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}